<%= render partial: 'shared/navbar' %>
<% if current_user %>
  <div class="container basic-info">
    <div class="profile-pic">
      <img src="<%= @user.profile_pic %>" alt="profile-pic" />
    </div>
    <div class="username">
      <h1><%= @user.nickname %></h1>
    </div>
  </div>
  <%= link_to "My Repos", repos_path %>
<% end %>
